{% load static %}

<div class="row">
    <div class="col-12 text-center mb-5">
        <div class="btn-group mt-3">
            <a href="{% url 'view_folio_projects' folio.id %}"
                class="btn btn-primary {% if active_tab == 'projects' %}active{% endif %}">
                Projects
            </a>
            <a href="{% url 'view_folio_skills' folio.id %}"
                class="btn btn-primary {% if active_tab == 'skills' %}active{% endif %}">
                Skills
            </a>
            <a href="{% url 'view_folio_profile' folio.id %}"
                class="btn btn-primary {% if active_tab == 'profile' %}active{% endif %}">
                Profile
            </a>
            <a href="{% url 'view_folio_contact' folio.id %}"
                class="btn btn-primary {% if active_tab == 'contact' %}active{% endif %}">
                Contact
            </a>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-6 d-flex justify-content-end align-items-center">
                {% if author.profile_picture %}
                    <img src="{{ author.profile_picture.url }}" alt="The author's profile picture" class="rounded-circle" width="100">
                {% else %}
                    <img src="{% static 'images/no-profile-picture.png' %}" alt="A placeholder folio user image" class="rounded-circle" width="100">
                {% endif %}
            </div>
            <div class="col-6 d-flex justify-content-start align-items-center">
                {% if author.first_name and author.last_name %}
                    <h3 class="h4 mb-0">{{ author.get_full_name }}</h3>
                {% else %}
                    <h3 class="h4 text-danger">Provide Full Name</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>