{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_title %}Welcome{% endblock %}

{% block main_nav %}
    {% include 'includes/main-navs/external-main-nav.html' with active_nav_link='' %}
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>
    <script src="{% static 'js/parallax/parallax.js' %}"></script>
{% endblock %}

{% block help_question %}Why sign up with fol.io?{% endblock %}
{% block help_title %}Why fol.io?{% endblock %}
{% block help_desc %}
    {% include './includes/snippets/external_help_content.html' %}
{% endblock %}

{% block header_content %}
<div class="row">
    <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
        <p class="text-center">Create an account with fol<span class="text-feature-color">.</span>io to quickly move your tech career forward.
        </p>
    </div>
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center p-4">
        <div class="mb-4">
            <a href="{% url 'account_login' %}" class="btn btn-secondary me-4">Log In</a>
            <a href="{% url 'account_signup' %}" class="btn btn-primary">Register</a>
        </div>
    </div>
</div>
{% endblock %}

{% block header_title %}Progress with fol<span class="text-feature-color">.</span>io{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center mt-3">
        <div class="card card-cover bg-transparent overflow-hidden animate__animated animate__fadeInLeft">
            <img class="card-bg-image parallax-image" src="{% static '/images/books-laptop-ide.jpg' %}" alt="A laptop with a code editor open alongisde a pile of books.">
        </div>
    </div>
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center mt-3">
        <div class="d-flex flex-column justify-content-center align-items-center animate__animated animate__fadeInRight">
            <span class="material-icons-sharp display-2 text-feature-color mb-3">library_books</span>
            <p class="text-center">Take advantage of the fol<span class="text-feature-color">.</span>io <strong class="text-feature-color">library</strong> in <strong class="text-feature-color">creating & managing</strong> your own <strong class="text-feature-color">library of folios</strong>, each being laser-focused in having <strong class="text-feature-color">specific requirements from job descriptions</strong> in mind.
        </div>
    </div>
    
    <div class="col-10 offset-1 d-lg-none">
        <hr>
    </div>
    
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center mt-5">
        <div class="d-flex flex-column justify-content-center align-items-center animate__animated animate__fadeInLeft animate__second">
            <span class="material-icons-sharp display-2 text-feature-color mb-3">text_snippet</span>
            <p class="text-center">Use the fol<span class="text-feature-color">.</span>io <strong class="text-feature-color">suite</strong> to <strong class="text-feature-color">create & manage</strong> your own <strong class="text-feature-color">collection of project, skill & profile snippets</strong>, where each can be <strong class="text-feature-color">selected to appear</strong> within your <strong class="text-feature-color">folios</strong> and appear in a <strong class="text-feature-color">live folio</strong> as <strong class="text-feature-color">commonly found sections</strong> within modern-day <strong class="text-feature-color">dev portfolios</strong>.</p>
        </div>
    </div>
    <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center mt-5">
        <div class="card card-cover bg-transparent overflow-hidden animate__animated animate__fadeInRight animate__second">
            <img class="card-bg-image parallax-image" src="{% static '/images/team-pointing-laptop.jpg' %}" alt="A team of people pointing at a particular point on a laptop screen.">
        </div>
    </div>
    
    <div class="col-10 offset-1 d-lg-none">
        <hr>
    </div>
    
    <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center mt-5">
        <div class="card card-cover bg-transparent overflow-hidden animate__animated animate__fadeInLeft animate__third">
            <img class="card-bg-image parallax-image" src="{% static '/images/team-cafe-laptop.jpg' %}" alt="Two people enjoying their experience in working with eachother.">
        </div>
    </div>
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center mt-5">
        <div class="overflow-hidden d-flex flex-column justify-content-center align-items-center animate__animated animate__fadeInRight animate__third">
            <span class="material-icons-sharp display-2 text-feature-color mb-3">key</span>
            <p class="text-center">Make use the fol<span class="text-feature-color">.</span>io <strong class="text-feature-color">license store</strong> in purchasing <strong class="text-feature-color">folio licenses</strong> and <strong class="text-feature-color">individually attaching</strong> them to your <strong class="text-feature-color">folios</strong>, enabling you to <strong class="text-feature-color">share them with the world</strong>.</p>
        </div>
    </div>
    
    <div class="col-10 offset-1 d-lg-none">
        <hr>
    </div>
    
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center mt-5">
        <div class="d-flex flex-column justify-content-center align-items-center animate__animated animate__fadeInLeft animate__fourth">
            <span class="material-icons-sharp display-2 text-feature-color mb-3">speed</span>
            <p class="text-center">With your <strong class="text-feature-color">vast library</strong> of specifically <strong class="text-feature-color">targeted & live folios</strong> with carefully considered <strong class="text-feature-color">snippets attached</strong>, accelerate the job search and <strong class="text-feature-color">land that dream job</strong>.</p>
        </div>
    </div>
    <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center mt-5">
        <div class="card card-cover bg-transparent overflow-hidden animate__animated animate__fadeInRight animate__fourth">
            <img class="card-bg-image parallax-image" src="{% static '/images/team-office-laptop-monitor.jpg' %}" alt="A developer helping another developer with their work.">
        </div>
    </div>
</div>

{% endblock %}