{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_title %}Welcome{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>
    <script src="{% static 'js/parallax/parallax.js' %}"></script>
{% endblock %}

{% block header_content %}
<div class="row">
    <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
        <p class="text-center">Quickly move your tech career forward with fol<span class="text-feature-color">.</span>io.</p>
    </div>
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center p-4">
        <div class="mb-4">
            <a href="{% url 'account_login' %}" class="btn btn-secondary me-4">log in</a>
            <a href="{% url 'account_signup' %}" class="btn btn-primary">Register</a>
        </div>
    </div>
</div>
{% endblock %}

{% block header_title %}{% trans "Introducing fol.io" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
        <div class="card card-cover bg-transparent overflow-hidden animate__animated animate__fadeIn">
            <img class="card-bg-image parallax-image" src="{% static '/images/books-laptop-ide.jpg' %}" alt="">
        </div>
    </div>
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center">
        <div class="card card-cover d-flex flex-column justify-content-center align-items-center animate__animated animate__fadeIn">
            <span class="material-icons-sharp display-2 text-feature-color mb-3">co_present</span>
            <p class="text-center">Be resourceful with your time. <br> Let fol<span class="text-feature-color">.</span>io present your talents.</p>
        </div>
    </div>
    
    <div class="col-10 offset-1 d-lg-none">
        <hr>
    </div>
    
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center">
        <div class="card card-cover d-flex flex-column justify-content-center align-items-center animate__animated animate__fadeIn animate__second">
            <span class="material-icons-sharp display-2 text-feature-color mb-3">lightbulb</span>
            <p class="text-center">Devote your previous time in developing more insightful projects that better showcase your potential.</p>
        </div>
    </div>
    <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
        <div class="card card-cover bg-transparent overflow-hidden animate__animated animate__fadeIn animate__second">
            <img class="card-bg-image parallax-image" src="{% static '/images/team-pointing-laptop.jpg' %}" alt="">
        </div>
    </div>
    
    <div class="col-10 offset-1 d-lg-none">
        <hr>
    </div>
    
    <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
        <div class="card card-cover bg-transparent overflow-hidden animate__animated animate__fadeIn animate__third">
            <img class="card-bg-image parallax-image" src="{% static '/images/team-cafe-laptop.jpg' %}" alt="">
        </div>
    </div>
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center">
        <div class="card card-cover overflow-hidden d-flex flex-column justify-content-center align-items-center animate__animated animate__fadeIn animate__third">
            <span class="material-icons-sharp display-2 text-feature-color mb-3">library_books</span>
            <p class="text-center">Create your own personal collection of portfolio snippets, which you can add & modify to your heart's content.</p>
        </div>
    </div>
    
    <div class="col-10 offset-1 d-lg-none">
        <hr>
    </div>
    
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center">
        <div class="card card-cover d-flex flex-column justify-content-center align-items-center animate__animated animate__fadeIn animate__fourth">
            <span class="material-icons-sharp display-2 text-feature-color mb-3">checklist</span>
            <p class="text-center">With this snippet collection, speed up the tailoring process in targeting specific requirements found within various job descriptions.</p>
        </div>
    </div>
    <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
        <div class="card card-cover bg-transparent overflow-hidden animate__animated animate__fadeIn animate__fourth">
            <img class="card-bg-image parallax-image" src="{% static '/images/team-office-laptop-monitor.jpg' %}" alt="">
        </div>
    </div>
</div>

{% endblock %}