<!-- Modal -->
<div class="modal fade" id="{{ type }}_modal" tabindex="-1" aria-labelledby="{{ type }}_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered {% if size %}{{ size }}{% endif %}">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ type }}_modal_label">
                    {% block modal_title %}{% endblock %}
                </h5>
                <button type="button" class="btn-icon" data-bs-dismiss="modal" aria-label="Close">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </button>
            </div>
            <div class="modal-body">
                {% block modal_body %}{% endblock %}
            </div>
        </div>
    </div>
</div>