{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_js %}
    <script defer src="{% static 'js/clamp.min.js' %}"></script>
    <script defer src="{% static 'js/suite/skill-profile-snippets.js' %}"></script>
{% endblock %}

{% block extra_title %}Editing Folio Skills{% endblock %}

{% block help_question %}What is a folio skill?{% endblock %}
{% block help_title %}What is a folio skill?{% endblock %}
{% block help_desc %}
    {% include './includes/snippets/help_skills_content.html' %}
{% endblock %}

{% block main_nav %}
    {% include 'includes/main-navs/internal-main-nav.html' with active_nav_link='suite' %}
{% endblock %}

{% block header_content %}
    {% include 'includes/header-navs/suite-header-nav.html' with active_tab='skills' %}
{% endblock %}

{% block header_title %}
    {% if folio.is_published %}
        <span class="material-icons-sharp text-feature-color" data-bs-toggle="tooltip" data-bs-placement="top" title="Folio is published">
            visibility
        </span>
    {% else %}
        <span class="material-icons-sharp text-white-color" data-bs-toggle="tooltip" data-bs-placement="top" title="Folio is concealed">
            visibility_off
        </span>
    {% endif %}
{{ folio.name }}
{% endblock %}

{% block additional_header_content %}
    <div class="d-flex justify-content-end align-items-center h-100">
        <a class="btn btn-primary me-2" href="{% url 'view_folio_skills' folio_id=folio.id %}" target="_blank">View Live
            <span class="material-icons-sharp align-bottom">
                open_in_new
            </span>
        </a>
    </div>
{% endblock %}

{% block content %}
    <div class="row mb-3">
        <div class="col-12 col-lg-6 text-center text-lg-start">
            <p class="mb-0">
                <span>Skills Selected:</span>
                <span id="snippetsSelectedCounter" class="fw-bold"></span>
            </p>
        </div>
        <div class="col-12 col-lg-6 text-center text-lg-end mt-2 mt-lg-0">
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#create_modal_skill">
                Create Skill
            </button>
            {% include './includes/modals/create_skill.html' with size=undefined id="skill" %}
        </div>

        <section class="col-12 col-xl-6 mt-3 border-end">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="h5 mb-3">Tech Skills</h3>
            </div>
            <div class="list-container">
                {% include './includes/list_of_tech_skills.html' %}
            </div>
        </section>
        <div class="col-12 d-xl-none"><hr></div>
        <section class="col-12 col-xl-6 mt-3">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="h5 mb-3">Soft Skills</h3>
            </div>
            <div class="list-container">
                {% include './includes/list_of_soft_skills.html' %}
            </div>
        </section>
    </div>
    <div class="row mb-3">
        <div class="col-12 d-flex justify-content-end align-items-center">
            <button class="btn btn-primary" id="updateSnippetsBtn" type="submit">Save Changes</button>
        </div>
    </div>
{% endblock %}