{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_js %}
    <script defer src="{% static 'js/clamp.min.js' %}"></script>
    <script defer src="{% static 'js/suite/folio_projects.js' %}"></script>
{% endblock %}

{% block extra_title %}Editing Folio Projects{% endblock %}

{% block main_nav %}
    {% include 'includes/main-navs/internal-main-nav.html' with active_nav_link='suite' %}
{% endblock %}

{% block header_content %}
    {% include 'includes/header-navs/suite-header-nav.html' with active_tab='projects' %}
{% endblock %}

{% block header_title %}
{% if folio.is_published %}
    <span class="material-icons-sharp text-feature-color" data-bs-toggle="tooltip" data-bs-placement="top" title="Folio is published">
        visibility
    </span>
{% else %}
    <span class="material-icons-sharp text-white-color" data-bs-toggle="tooltip" data-bs-placement="top" title="Folio is concealed">
        visibility_off
    </span>
{% endif %}
{{ folio.name }}
{% endblock %}

{% block additional_header_content %}
<div class="d-flex justify-content-end align-items-center h-100">
    <a class="btn btn-icon" href="{% url 'view_folio_projects' folio_id=folio.id %}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="View Folio">
        <span class="material-icons-sharp">
            open_in_new
        </span>
    </a>
</div>
{% endblock %}

{% block content %}

<div class="row mb-3">
    <div class="col-12 d-flex justify-content-between align-items-center flex-column flex-lg-row">
        <p class="mb-0">
            <span class="fw-bold">Projects Selected:</span>
            <span id="selectedNumberOfProjects"></span>
            <span>/</span>
            <span id="maxAmountOfProjects">4</span>
        </p>
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#create_modal_project">
            Create Project
        </button>
        {% include './includes/modals/create_project.html' with size=undefined id="project" %}
    </div>
</div>  

{% include './includes/list_of_projects.html' %}

<div class="row">
    <div class="col-12">
        <hr>
    </div>
    <div class="col-12 d-flex justify-content-end align-items-center">
        <button class="btn btn-primary" id="updateProjectsInFolioBtn" type="submit">Save Changes</button>
    </div>
</div>


{% endblock %}