{% extends 'base.html' %}
{% load i18n %}

{% block extra_title %}{% trans "Select Folio" %}{% endblock %}

{% block header_title %}{% trans "Select Folio" %}{% endblock %}

{% block main_nav %}
    {% include 'includes/main-navs/internal-main-nav.html' with active_nav_link='suite' %}
{% endblock %}

{% block header_content %}
    
{% endblock %}

{% block content %}

<div class="col-8 offset-2 d-flex justify-content-center">
    <div class="card p-4">
        <div class="card-body">
            <form class="login" method="POST" action="{% url 'select_folio' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 d-flex justify-content-center align-items-center flex-column text-center">
                        <p>To enter the folio suite you must first select a folio.</p>
                        <p>Please select from your library below.</p>
                        
                        <select class="form-select" name="folio_selected" id="folio_selected">
                            {% for folio in folios %}
                                <option value="{{ folio.id }}">
                                    {{ folio.name }}
                                </option>
                            {% endfor %}
                        </select>
                        <div class="d-flex justify-content-end align-items-center">
                            <button class="btn btn-primary" type="submit">Open in Suite</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}