/* CSS Variables */

:root {
    --folio-feature-color: hsla(40, 89%, 56%, 1);
    --folio-bg-black-color: hsla(0, 0%, 10%, 1);
    --folio-black-color: hsla(0, 0%, 12%, 1);
    --folio-white-color: hsla(0, 0%, 92%, 1);
    --folio-white-faded-color: hsla(0, 0%, 92%, 0.8);
    --folio-delete-color: hsla(9, 57%, 41%, 1);
    --folio-sans-font: 'Libre Baskerville', serif;
    --folio-sans-serif-font: 'Inter', sans-serif;
}

/* Base Styling */

body {
    font-family: 'Inter', sans-serif;
    color: var(--folio-white-color);
    background-color: var(--folio-bg-black-color);
}

h1, h2, h3, h4, h5, h6,
.nav-link {
    font-family: 'Libre Baskerville', serif;
    color: var(--folio-white-color);
}

/* Colour Classes */

.text-feature-color {
    color: var(--folio-feature-color);
}

.text-black-color {
    color: var(--folio-black-color);
}

.text-white-color {
    color: var(--folio-white-color);
}

.bg-feature-color {
    background-color: var(--folio-feature-color);
    --bs-bg-opacity: 1;
}

.bg-black-color {
    background-color: var(--folio-black-color);
    --bs-bg-opacity: 1;
}

.bg-white-color {
    background-color: var(--folio-white-color);
    --bs-bg-opacity: 1;
}

/* Button & Link Styling */

.btn {
    border-radius: 0;
    font-weight: 600;
    display: inline-block;
}

.btn-primary {
    color: var(--folio-black-color);
    background-color: var(--folio-feature-color);
    border-color: var(--folio-feature-color);
    border-width: 0.2rem;
    transition: color 400ms ease-in-out, background-color 400ms ease-in-out;
}

.btn-primary:focus {
    color: var(--folio-black-color);
    background-color: var(--folio-feature-color);
    border-color: var(--folio-feature-color);
    box-shadow: none;
}

.btn-primary:active {
    color: var(--folio-black-color);
    background-color: var(--folio-feature-color);
    border-color: var(--folio-feature-color);
}

.btn-primary:active:focus {
    box-shadow: none;
}

.btn-primary.active {
    color: var(--folio-white-color);
    background-color: transparent;
    border-color: var(--folio-feature-color);
}

.btn-primary.active:focus {
    box-shadow: none;
}

.btn-primary:hover {
    color: var(--folio-white-color);
    background-color: transparent;
    border-color: var(--folio-feature-color);
    box-shadow: none;
}

.btn-primary,
.btn-secondary {
    text-transform: uppercase;
    padding: .1rem 1rem;
}

.btn-secondary {
    color: var(--folio-black-color);
    background-color: var(--folio-white-color);
    border-color: var(--folio-white-color);
    border-width: 0.2rem;
    transition: color 400ms ease-in-out, background-color 400ms ease-in-out;
}

.btn-secondary:focus {
    color: var(--folio-black-color);
    background-color: var(--folio-white-color);
    border-color: var(--folio-white-color);
    box-shadow: none;
}

.btn-secondary:active {
    color: var(--folio-black-color);
    background-color: var(--folio-white-color);
    border-color: var(--folio-white-color);
}

.btn-secondary:active:focus {
    box-shadow: none;
}

.btn-secondary.active {
    color: var(--folio-white-color);
    background-color: transparent;
    border-color: var(--folio-white-color);
}

.btn-secondary.active:focus {
    box-shadow: none;
}

.btn-secondary:hover {
    color: var(--folio-white-color);
    background-color: transparent;
    border-color: var(--folio-white-color);
    box-shadow: none;
}

.btn-tertiary {
    color: var(--folio-feature-color);
    transition: color 400ms ease-in-out;
    font-family: var(--folio-sans-font);
    text-decoration: underline;
    font-weight: 400;
    text-transform: lowercase;
}

.btn-tertiary:hover {
    color: var(--folio-white-color);
}

.btn-tertiary:focus {
    box-shadow: none;
}

.btn-delete {
    color: var(--folio-white-color);
    background-color: var(--folio-delete-color);
    border-color: var(--folio-delete-color);
    border-width: 0.2rem;
    transition: color 400ms ease-in-out, background-color 400ms ease-in-out;
}

.btn-delete:focus {
    color: var(--folio-black-color);
    background-color: var(--folio-white-color);
    border-color: var(--folio-white-color);
    box-shadow: none;
}

.btn-delete:active {
    color: var(--folio-black-color);
    background-color: var(--folio-white-color);
    border-color: var(--folio-white-color);
}

.btn-delete:active:focus {
    box-shadow: none;
}

.btn-delete.active {
    color: var(--folio-white-color);
    background-color: transparent;
    border-color: var(--folio-white-color);
}

.btn-delete.active:focus {
    box-shadow: none;
}

.btn-delete:hover {
    color: var(--folio-white-color);
    background-color: transparent;
    border-color: var(--folio-delete-color);
    box-shadow: none;
}

.btn-icon {
    background-color: transparent;
    color: var(--folio-white-color);
    display: inline-flex;
    padding: 0.2rem;
    border: none;
    transition: color 400ms ease-in-out;
}

.btn-icon:hover {
    color: var(--folio-feature-color);
}

.btn-icon::after {
    display: none;
}

/* Navigation Styling */

.navbar {
    height: 3.5rem;
}

.navbar-dark .navbar-nav .nav-link a {
    color: var(--folio-white-color);
}

.navbar-toggler {
    border-radius: 0;
    position: relative;
    height: 2.5rem;
    width: 3rem;
}

.navbar-toggler[aria-expanded="false"] .first-menu-icon {
    opacity: 1;
    transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
    color: var(--folio-white-color);
}

.navbar-toggler[aria-expanded="true"] .first-menu-icon {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(270deg);
    transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
    color: var(--folio-white-color);
}

.navbar-toggler[aria-expanded="false"] .second-menu-icon {
    opacity: 0;
    transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
    color: var(--folio-feature-color);
}

.navbar-toggler[aria-expanded="true"] .second-menu-icon {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(270deg);
    transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
    color: var(--folio-feature-color);
}

.mobile-menu-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

.second-menu-icon {
    opacity: 0;
}

.navbar-dark .navbar-nav a.nav-link {
    color: var(--folio-white-faded-color);
}

.navbar-dark .navbar-nav a.nav-link:hover {
    color: var(--folio-white-color);
}

.navbar-dark .navbar-nav a.nav-link.active {
    color: var(--folio-white-color);
    text-decoration: underline;
    text-decoration-color: var(--folio-feature-color);
    text-decoration-thickness: .15rem;
}

#navbar-buffer {
    height: 3.5rem;
    width: 100%;
}

/* Card Styling */

.card {
    border-radius: 0;
    background-color: var(--folio-black-color);
    max-width: 25rem;
    min-height: min-content;
}

.folio-card {
    border-radius: 0;
    background-color: var(--folio-black-color);
    min-height: min-content;
}

/* Dropdown Styling */

.dropdown-menu {
    background-color: var(--folio-bg-black-color);
    color: var(--folio-feature-color);
    border-radius: 0;
}

.dropdown-item {
    background-color: transparent;
    color: var(--folio-white-color);
}

.dropdown-item:hover {
    background-color: transparent;
    color: var(--folio-feature-color);
}

/* Modal styling */

.modal-content {
    border-radius: 0;
    background-color: var(--folio-bg-black-color);
}

.modal-header {
    border-bottom: 1px solid var(--folio-feature-color);
}

.modal-title {
    color: var(--folio-white-color);
}

/* button[data-bs-dismiss="modal"] {
    background: none;
} */


/* Form Styling */

input.form-control,
.form-check-input[type=checkbox] {
    border-radius: 0;
    background-color: var(--folio-white-color);
    transition: border-color 400ms ease-in-out, box-shadow 400ms ease-in-out;
}

input.form-control:focus,
input.form-control:focus-visible {
    border-color: var(--folio-feature-color);
    box-shadow: 0 0 0 .2rem var(--folio-feature-color);
    background-color: var(--folio-white-color);
}

.form-check-label,
.form-label {
    font-size: 14px;
    transition: color 400ms ease-in-out;
}

.asteriskField {
    color: var(--folio-feature-color);
}

/* Add text color to all inputs except checkbox */
[id*="div_id_"]:focus-within label:not([for$="remember"]) {
    color: var(--folio-feature-color);
}

.form-check-input:focus {
    box-shadow: var(--folio-feature-color);
    border-color: var(--folio-feature-color);
}

.form-check-input:checked {
    background-color: var(--folio-feature-color);
    border-color: var(--folio-feature-color);
}

/* Home/Welcome page styling */

.card-cover {
    height: 20rem;
    width: 100%;
}

.card-bg-image {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

.card-cover-text {
    z-index: 2;
}

/* Animate.css custom CSS variables */

.animate__second {
    --animate-duration: 1.25s;
}

.animate__third {
    --animate-duration: 1.5s;
}

.animate__fourth {
    --animate-duration: 1.75s;
}

/* Tooltip styling */

.folio-tooltip {
    display: none;
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}

.folio-tooltip[data-show] {
    display: block;
    opacity: 1;
    transition: opacity 1000ms ease-in-out;
}