{% extends 'base_no_help.html' %}
{% load static %}
{% load i18n %}

{% block extra_js %}
    <script defer src="{% static 'js/clamp.min.js' %}"></script>
{% endblock %}

{% block extra_title %}Viewing Folio Projects{% endblock %}

{% block main_nav %}
    {% include 'includes/main-navs/showcase-main-nav.html' with active_nav_link='projects' %}
{% endblock %}

{% block header_content %}
    {% include 'includes/header-navs/showcase-header-nav.html' with active_tab='projects' %}
{% endblock %}

{% block header_title %}{{ author.first_name }}'s Projects{% endblock %}

{% block additional_header_content %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <p class="text-muted">Below you will find a list of projects that I have made on my development journey.</p>
        </div>
    </div>
    {% include './includes/list_of_projects.html' %}
{% endblock %}