{% extends 'base_no_help.html' %}
{% load static %}
{% load i18n %}

{% block extra_js %}
    <script defer src="{% static 'js/clamp.min.js' %}"></script>
{% endblock %}

{% block extra_title %}My Profile{% endblock %}

{% block main_nav %}
    {% include 'includes/main-navs/showcase-main-nav.html' with active_nav_link='' %}
{% endblock %}

{% block header_content %}
    {% include 'includes/header-navs/showcase-header-nav.html' with active_tab='profile' %}
{% endblock %}

{% block header_title %}My Profile{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-lg-6">
            <h3 class="h4">About Me</h3>
            <p class="text-muted">Here is a brief overview of my background regarding development.</p>
            {% include './includes/list_of_profiles.html' %}
        </div>
        <div class="col-12 d-lg-none">
            <hr>
        </div>
        <div class="col-12 col-lg-6">
            <h3 class="h4">Current Project</h3>
            <p class="text-muted">The project I'm currently working on.</p>
            {% if folio.current_project_link %}
                <p class="title-clamp"><a href="{{ folio.current_project_link }}" target="_blank" rel="noopener noreferrer">{{ folio.current_project_link }}</a></p>
            {% else %}
                <p>A current project link has not been provided. Add one <a href="{% url 'edit_folio_profile' folio_id=folio.id %}#id_current_project_link" target="_blank" rel="noopener noreferrer">here</a>.</p>
            {% endif %}

            {% if folio.current_project_desc %}
                <p>{{ folio.current_project_desc }}</p>
            {% else %}
                <p>A current project description has not been provided. Add one <a href="{% url 'edit_folio_profile' folio_id=folio.id %}#id_current_project_desc" target="_blank" rel="noopener noreferrer">here</a>.</p>
            {% endif %}

            <div class="row">
                <div class="col-6 offset-3"><hr></div>
            </div>
            
            <h3 class="h4">My Future Goal</h3>
            <p class="text-muted">Where I see my future in the tech industry.</p>
            {% if folio.future_goal %}
                <p>{{ folio.future_goal }}</p>
            {% else %}
                <p>A future goal has not been provided. Add one <a href="{% url 'edit_folio_profile' folio_id=folio.id %}#id_future_goal" target="_blank" rel="noopener noreferrer">here</a>.</p>
            {% endif %}

            <div class="row">
                <div class="col-6 offset-3"><hr></div>
            </div>
        </div>
    </div>
{% endblock %}