{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_js %}
    <script defer src="{% static 'js/clamp.min.js' %}"></script>
{% endblock %}

{% block extra_title %}Viewing Folio Profile{% endblock %}

{% block main_nav %}
    {% include 'includes/main-navs/showcase-main-nav.html' with active_nav_link='profile' %}
{% endblock %}

{% block header_content %}
    {% include 'includes/header-navs/showcase-header-nav.html' with active_tab='profile' %}
{% endblock %}

{% block header_title %}
    {{ author.first_name }}'s Profile
{% endblock %}

{% block additional_header_content %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-lg-6">
            <h3 class="h4 text-feature-color">About Me</h3>
            {% include './includes/list_of_profiles.html' %}
        </div>
        <div class="col-12 d-lg-none">
            <hr>
        </div>
        <div class="col-12 col-lg-6">
            <h3 class="h4 text-feature-color">Current Project</h3>
            {% if folio.current_project_link %}
                <p>{{ folio.current_project_link }}</p>
            {% else %}
                <p class="text-danger">A current project link has not been provided.</p>
            {% endif %}

            {% if folio.current_project_desc %}
                <p>{{ folio.current_project_desc }}</p>
            {% else %}
                <p class="text-danger">A current project description has not been provided.</p>
            {% endif %}
            <h3 class="h4 text-feature-color">My Future Goal</h3>
            {% if folio.future_goal %}
                <p>{{ folio.future_goal }}</p>
            {% else %}
                <p class="text-danger">A future goal has not been provided.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}