{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_js %}
    <script defer src="{% static 'js/clamp.min.js' %}"></script>
{% endblock %}

{% block extra_title %}Viewing Folio Contact{% endblock %}

{% block main_nav %}
    {% include 'includes/main-navs/showcase-main-nav.html' with active_nav_link='contact' %}
{% endblock %}

{% block header_content %}
    {% include 'includes/header-navs/showcase-header-nav.html' with active_tab='contact' %}
{% endblock %}

{% block header_title %}
    Contact {{ author.first_name }}
{% endblock %}

{% block additional_header_content %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-9">
        <h3 class="h4 text-feature-color">Message {{ author.first_name }}</h3>
    </div>
    <div class="col-3">
        <h3 class="h4 text-feature-color">Info</h3>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <label class="form-label" for="">Name</label>
        <input type="text" class="textinput textInput form-control">
        <label class="form-label" for="">Email</label>
        <input type="text" class="textinput textInput form-control">
        <label class="form-label" for="">Subject</label>
        <input type="text" class="textinput textInput form-control">
    </div>
    <div class="col-6">
        <p class="mb-0"><label class="form-label" for="">Message</label></p>
        <textarea class="textarea form-control" name="" id="" cols="30" rows="7"></textarea>
    </div>
    <div class="col-3">
        <label class="form-label" for="">Email</label>
        <p>{{ user.email }}</p>
        <label class="form-label" for="">Phone Number</label>
        <p>{{ author.default_phone_number }}</p>
        <div class="d-flex justify-content-start align-items-center mt-4">
            <a class="btn btn-icon me-5" href="{{ folio.contact_github_profile }}" target="_blank" rel="noopener noreferrer" title="Visit {{ author.first_name }}'s github page in a new tab.">
                <i class="fab fa-github"></i>
            </a>
            <a class="btn btn-icon" href="{{ folio.contact_linkedin_profile }}" target="_blank" rel="noopener noreferrer" title="Visit {{ author.first_name }}'s linkedin page in a new tab.">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </div>
    <div class="col-9 d-flex justify-content-end align-items-center mt-3">
        <button class="btn btn-primary">Send Message</button>
    </div>
</div>

{% endblock %}