{% extends "base_no_help.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block extra_title %}{% trans "Log in" %}{% endblock %}

{% block help_question %}Why sign up with fol.io?{% endblock %}
{% block help_title %}Why fol.io?{% endblock %}
{% block help_desc %}
    {% include './snippets/external_help_content.html' %}
{% endblock %}

{% block header_title %}{% trans "Welcome Back" %}{% endblock %}
{% block header_content %}
    {% include 'includes/header-navs/external-header-nav.html' %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <p class="small">{% blocktrans %}If you have not created an account yet, then please
            <a class="btn-tertiary" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
        </p>
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-lg-6">
                    {{ form.login|as_crispy_field }}
                </div>
                <div class="col-12 col-lg-6">
                    {{ form.password|as_crispy_field }}
                </div>
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="d-flex justify-content-between align-items-center">
                <a class="small button btn-tertiary" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?"%}</a>
                <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}