{% extends "base_no_help.html" %}

{% load i18n %}

{% block main_nav %}
    {% include 'includes/main-navs/external-main-nav.html' with active_nav_link='' %}
{% endblock %}

{% block extra_title %}{% trans "Password Change Success" %}{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block header_title %}{% trans "Password Change Success" %}{% endblock %}

{% block content %}
    <p>{% trans 'Your password is now changed.' %}</p>
    <a class="btn btn-primary" href="{% url 'account_login' %}">Log In</a>
    <a class="btn btn-secondary" href="{% url 'home' %}">Return Home</a>
{% endblock %}
