{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% load i18n %}

{% block extra_title %}{% trans "Register" %}{% endblock %}

{% block header_title %}{% trans "Register" %}{% endblock %}

{% block content %}

<div class="row">
  <div class="d-none d-md-flex col-6 justify-content-center align-items-center">
      <div id="scene" class="card overflow-hidden">
          <img data-depth="0.1" src="{% static 'images/developer-table-laptop.jpg' %}" alt="A software engineer working on their laptop." class="w-100">
      </div>
  </div>
  <div class="d-flex col-12 col-md-6 justify-content-center align-items-center">
      <div class="card p-4 d-flex justify-content-center align-items-center">
          <div class="card-body d-flex flex-column justify-content-around align-items-center">
              <h3 class="h4 text-center m-3">{% trans "Hello There!" %}</h3>

              <p class="small text-center">{% blocktrans %}Do you already have a fol.io account? Please <a class="btn-tertiary" href="{{ login_url }}">sign in</a> if so.{% endblocktrans %}</p>

              <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="d-flex justify-content-end align-items-center">
                  <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
                </div>
              </form>
          </div>
      </div>
  </div>
</div>

{% endblock %}
