{% extends "base_no_help.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block extra_title %}{% trans "Register" %}{% endblock %}

{% block help_question %}Why sign up with fol.io?{% endblock %}
{% block help_title %}Why fol.io?{% endblock %}
{% block help_desc %}
    {% include './snippets/external_help_content.html' %}
{% endblock %}

{% block header_title %}{% trans "Hello There!" %}{% endblock %}
{% block header_content %}
  {% include 'includes/header-navs/external-header-nav.html' %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <p class="small">{% blocktrans %}Already have a fol.io account? Please <a class="btn-tertiary" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
    <p class="text-muted">Get started in building your own personal collection of folios that will allow you to target various job specifications efficiently!</p>
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      <div class="row">
        <div class="col-12 col-lg-6">
          {{ form.email|as_crispy_field }}
        </div>
        <div class="col-12 col-lg-6">
          {{ form.username|as_crispy_field }}
        </div>
        <div class="col-12 col-lg-6">
          {{ form.password1|as_crispy_field }}
        </div>
        <div class="col-12 col-lg-6">
          {{ form.password2|as_crispy_field }}
        </div>
      </div>
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="d-flex justify-content-end align-items-center">
        <button class="btn btn-primary" type="submit">{% trans "Register" %}</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
