{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block extra_title %}{% trans "Billing Details" %}{% endblock %}

{% block help_question %}Why are these details important?{% endblock %}
{% block help_title %}Why are these details important?{% endblock %}
{% block help_desc %}
    {% include './includes/snippets/help_billing_content.html' %}
{% endblock %}

{% block header_title %}{% trans "Billing Details" %}{% endblock %}

{% block main_nav %}
    {% include 'includes/main-navs/internal-main-nav.html' with active_nav_link='account' %}
{% endblock %}

{% block header_content %}
    {% include 'includes/header-navs/account-header-nav.html' with active_tab='billing_details' %}
{% endblock %}

{% block content %}

<div class="col-10 offset-1">
    <form class="login" method="POST" action="{% url 'billing_details' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="d-flex justify-content-end align-items-center">
            <button class="btn btn-primary" type="submit">{% trans "Update" %}</button>
        </div>
    </form>
</div>

{% endblock %}