{% extends 'base.html' %}
{% load i18n %}

{% block extra_title %}{% trans "Order History" %}{% endblock %}

{% block help_question %}What's the license store?{% endblock %}
{% block help_title %}What's the license store?{% endblock %}
{% block help_desc %}
    {% include './includes/snippets/help_license_content.html' %}
{% endblock %}

{% block header_title %}{% trans "Order History" %}{% endblock %}

{% block main_nav %}
    {% include 'includes/main-navs/internal-main-nav.html' with active_nav_link='license_store' %}
{% endblock %}

{% block header_content %}
    {% include 'includes/header-navs/license-header-nav.html' with active_tab='order_history' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <p class="text-muted">Here is a list of successful license purchases you've made in the past.</p>
        </div>
    </div>
    <div class="list-container list-container-xtra">
        {% include './includes/list_of_licence_purchases.html' %}
    </div>
{% endblock %}