{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block extra_title %}{% trans "Purchase License" %}{% endblock %}

{% block header_title %}{% trans "Purchase License" %}{% endblock %}

{% block main_nav %}
    {% include 'includes/main-navs/internal-main-nav.html' with active_nav_link='license_store' %}
{% endblock %}

{% block header_content %}
    {% include 'includes/header-navs/license-header-nav.html' with active_tab='purchase_license' %}
{% endblock %}

{% block content %}
<form action="{% url 'create_checkout_session' %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-12 col-md-6">
            {{ form.purchaser_full_name|as_crispy_field }}
            {{ form.purchaser_email|as_crispy_field }}
            {{ form.purchaser_phone_number|as_crispy_field }}
            {{ form.purchaser_street_address1|as_crispy_field }}
            {{ form.purchaser_street_address2|as_crispy_field }}
            {{ form.purchaser_town_or_city|as_crispy_field }}
        </div>
        <div class="col-12 col-md-6">
            {{ form.purchaser_postcode|as_crispy_field }}
            {{ form.purchaser_county|as_crispy_field }}
            {{ form.purchaser_country|as_crispy_field }}
            <hr>
            {{ form.no_of_licenses_purchased|as_crispy_field }}
            <p>
                <label for="saveBillingDetails">Save Billing Details as Default</label>
                <input id="saveBillingDetails" type="checkbox">
            </p>

            <div class="col-12 d-flex justify-content-end align-items-end flex-column">
                <span>Grand Total</span>
                <span class="fw-bold" ><span>£</span>9.99</span>
                <button class="btn btn-primary" type="submit">
                    Purchase
                </button>
            </div>
        </div>
    </div>
</form>

{% endblock %}