{% load static %}

<!doctype html>
<html lang="en">

<head>

  <!-- Meta tags -->
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  <!-- Favicon -->
  <link rel="shortcut icon" href="{%  static 'favicon/favicon.ico' %}">

  {% block core_css %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&family=Libre+Baskerville&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons+Sharp" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/8d2cb92610.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block core_js %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
  
  <script defer src="{% static 'js/tooltips.js' %}"></script>
  <script defer src="{% static 'js/base.js' %}"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>{% block extra_title %}{% endblock %} | fol.io</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-black-color">
    {% if user.is_authenticated %}
      {% block main_nav %}{% endblock %}
    {% else %}
      {% include 'includes/main-navs/external-main-nav.html' %}
    {% endif %}
  </nav>

  <!-- Buffer so elements beneath do not appear underneath navbar -->
  <div id="navbar-buffer"></div>

  <header class="container">
    <div class="row py-5">
      <div class="col-12 col-md-8 offset-md-2">
        {% block header_content %}{% endblock %}
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 offset-md-2">
        <h2 class="mb-3 mb-md-0 title-clamp text-center text-md-start">
          {% block header_title %}{% endblock %}
        </h2>
      </div>
      <div class="col-12 col-md-4 d-flex justify-content-end align-items-center flex-column flex-md-row">
        {% block additional_header_content %}{% endblock %}
      </div>
      <div class="col-12 col-md-8 offset-md-2">
        <hr>
      </div>
    </div>
  </header>

  <main class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </main>

  <footer class="footer-container mt-3">
    <div class="row h-100">
      <div class="col-12 d-flex justify-content-center align-items-center flex-column">
        <a class="navbar-brand me-0" href="{% url 'home' %}">
          <h2 class="mb-0 h1 text-white-color">fol<span class="text-feature-color">.</span>io</h2>
        </a>
        <div class="d-flex justify-content-center align-items-center w-100 mt-3">
          <a class="btn btn-icon me-5" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" title="Visit our Facebook page.">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="btn btn-icon me-5" href="https://twitter.com/" target="_blank" rel="noopener noreferrer" title="Follow our Twitter account.">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="btn btn-icon me-5" href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer" title="Follow our LinkedIn page.">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a class="btn btn-icon" href="https://github.com/KieranSweeden/fol.io" target="_blank" rel="noopener noreferrer" title="Visit the project's repository.">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <p class="mb-0 mt-3 text-muted">Copyright &copy; fol<span class="text-feature-color">.</span>io</p>
        <p class="mb-0 text-muted">All Rights Reserved</p>
      </div>
    </div>
  </footer>

  {% if messages %}
    <ul>
      {% for message in messages %}
        <li class="card card-message animate__animated animate__fadeInRight">
          <div class="card-header card-header-{{message.tags}} d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-start align-items-center">
              <span class="material-icons-sharp">
                  {% if message.tags == "success" %}
                    thumb_up
                  {% elif message.tags == "error" %}
                    thumb_down
                  {% elif message.tags == "warning" %}
                    warning
                  {% elif message.tags == "info" %}
                    info
                  {% endif %}
              </span>
              <p class="text-white-color mb-0 ms-2">{{ message.tags|title }}!</p>
            </div>
            <button class="btn btn-icon">
              <span class="material-icons-sharp">close</span>
            </button>
          </div>
          <div class="card-body">
            {{ message }}
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  </body>
</html>