{% extends 'includes/modal/modal_template.html' %}
{% load crispy_forms_tags %}

{% block modal_title %}Update {{ project.project_title }}{% endblock %}

{% block modal_body %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-12">
            {{ form|crispy }}
        </div>
        <div class="col-12 d-flex justify-content-end align-items-center">
            <button type="submit" class="btn btn-secondary">Save Changes</button>
        </div>
    </div>
</form>
{% endblock %}
