{% for soft_skill in soft_skills %}
    <h4 class="h5">{{ soft_skill.skill_title }}</h4>
    {% if soft_skill.skill_description %}
        <p>{{ soft_skill.skill_description }}</p>
    {% else %}
        <p class="text-danger">No skill description</p>
    {% endif %}
    <div class="row">
        <div class="col-6 offset-3"><hr></div>
    </div>
{% empty %}
    <div class="col-12 text-center mt-5">
        <span class="material-icons-sharp text-muted">
        sentiment_dissatisfied
        </span>
        <h3 class="h5">No soft skills are attached to this folio.</h3>
        <p><strong class="text-feature-color">Attach soft skills</strong> to this folio by <strong class="text-feature-color">selecting</strong> them and <strong class="text-feature-color">saving the changes</strong> at <a href="{% url 'edit_folio_skills' folio_id=folio.id  %}">this page</a>.</p>
    </div>
{% endfor %}