{% load static %}
<div class="row">
    {% for project in projects %}
        <div class="col-12 col-lg-6 mb-3">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="h4 title-clamp mb-0">{{ project.project_title }}</h3>
                    <button class="btn btn-icon" data-bs-toggle="modal" data-bs-target="#modal_{{ project.id }}">
                        <span class="material-icons-sharp">
                            open_in_full
                        </span>
                    </button>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 mb-2">
                            {% if project.image %}
                                <img src="{{ project.image.url }}" alt="" class="w-100" style="aspect-ratio: 16 / 9;">
                            {% else %}
                                <img src="{% static 'images/no-project-image.png' %}" alt="" class="w-100" style="aspect-ratio: 16 / 9;">
                            {% endif %}
                        </div>
                        <div class="col-12 card-desc">
                            <p class="text-muted small mb-0">Project Description</p>
                            {% if project.project_description %}
                                <p class="desc-clamp">{{ project.project_description }}</p>
                            {% else %}
                                <p class="text-danger">No Description Provided.</p>
                            {% endif %}
                        </div>
                        <div class="col-12">
                            <p class="text-muted small mb-0">Technologies</p>
                            {% if project.tech_list %}
                                <p>{{ project.tech_list }}</p>
                            {% else %}
                                <p class="text-danger">No Technologies Listed.</p>
                            {% endif %}
                        </div>
                        <div class="col-12 col-md-6">
                            <p class="text-muted small mb-0">Live Deployment
                                <span class="material-icons-sharp label-icon">
                                    open_in_new
                                </span>
                            </p>
                            {% if project.live_link %}
                                <p class="mb-0"><a href="{{ project.live_link }}" class="btn-tertiary title-clamp" target="_blank" rel="noopener noreferrer">{{ project.live_link }}</a></p>
                            {% else %}
                                <a href="{% url 'edit_folio_projects' folio_id=folio.id %}">
                                    Add<span class="material-icons-sharp align-middle">warning_amber</span>
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-12 col-md-6">
                            <p class="text-muted small mb-0">GitHub Repo
                                <span class="material-icons-sharp label-icon">
                                    open_in_new
                                </span>
                            </p>
                            {% if project.github_link %}
                                <p class="mb-0"><a href="{{ project.github_link }}" class="btn-tertiary title-clamp" target="_blank" rel="noopener noreferrer">{{ project.github_link }}</a></p>
                            {% else %}
                                <a href="{% url 'edit_folio_projects' folio_id=folio.id %}">
                                    Add<span class="material-icons-sharp align-middle">warning_amber</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% include './modals/view_project.html' with size=undefined id=project.id %}
    {% empty %}
    <div class="col-12 text-center mt-5">
        <span class="material-icons-sharp text-muted">
          sentiment_dissatisfied
        </span>
        <h3 class="h5">There are no project snippets attached to this folio.</h3>
        <p><strong class="text-feature-color">Attach projects</strong> to this folio by <strong class="text-feature-color">selecting</strong> them and <strong class="text-feature-color">saving the changes</strong> at <a href="{% url 'edit_folio_projects' folio_id=folio.id  %}">this page</a>.</p>
    </div>
    {% endfor %}
</div>